<li>
  <span class="content">
    <% if !haiku.last_part %>
      <%= haiku.first_five %>
      <%= haiku.first_seven %>
      <%= haiku.second_five %>
    <% else %>
      <%= haiku.first_seven %>
      <%= haiku.second_seven %>
    <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(haiku.created_at) %> ago.
    <%= render partial: 'shared/delete_item_link', locals: { item: haiku } %>
  </span>
</li>
