<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
      </h1>
      <h2>
	<%= link_to "プロフィール編集", edit_user_path(current_user) if current_user && @user == current_user %>
      </h2>
    </section>
  </aside>
  
  <div class="span8">
    <% render 'follow_form' if signed_in? %>
    <% # views/users/_follow_form.html.erb %>
    <% if @user.haikus.any? %>
      <h3>Microposts (<%= @user.haikus.count %>)</h3>
      <ol class="microposts">
	<%= render @haikus %>
      </ol>
      <%= will_paginate @haikus %>
    <% end %>
  </div>
</div>

<% @user.email %>
