<!DOCTYPE html>
<html>
<head>
  <title><%= fullTitle(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Renga", root_path, id: "logo" %>
      <nav>
	<ul class="nav pull-right">
	  <li><%= link_to "ホーム", root_path%></li>
	    <li><%= link_to "Rengaとは？", help_path %></li>
	  <% if signed_in? # ログインしているとき %>
	    <li><%= link_to "プロフィール", current_user %></li>
	    <li><%= link_to "設定", '#' %></li>
	    <li><%= link_to "ログアウト", signout_path, method: "delete" %>
	  <% else # ログインしてないとき %>
	    <li><%= link_to "ログイン", signin_path %></li>
	  <% end %>
	</ul>
      </nav>
    </div>
  </div>
</header>

<div class="container">

<% # ユーザ登録などのメッセージの表示 %>
<% # key が error か sucsess かによって css で表示が変わる %>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>

  <%= yield %>

<footer class="footer">
  <small>
    Powerd by YoshikiAkino
  </small>
  <nav>
    <ul class="nav pull-right">
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <li><%= link_to "その他のサービス", '#' %></li>
    </ul>
  </nav>
</footer>

<%= debug(params) if Rails.env.development? %>

</div>




</body>
</html>
